<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/list.js"></script>
    <link href="css/list.css" rel="stylesheet" type="text/css">
</head>
<body>

<script type="text/x-template" id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                v-on:click="sortBy(key)"
                v-bind:class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" v-bind:class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>

<div id="app">
    <form id="search">
        Search <input name="query" v-model="searchQuery">
    </form>
    <my-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery"></my-grid>
</div>

</body>
</html>